<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhap Id: </label>
    <input type="text"name ="PersonId">
    <label>Nhap ho ten: </label>
    <input type="text"name ="fullname">
    <label>Nhap dia chi: </label>
    <input type="text" name="Adress">
    <input type="submit" value="Gửi dữ liệu">

</form>
