h1 {
  text-align: center;
  color: red;
}
p {
  color: green;
  text-align: center;
}
body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
div {
  background-color: green;
  opacity: 0.3;
}
