@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <label>Nhap ho ten: </label>
    <input type="text"name ="fullname">
    <label>Nhap dia chi: </label>
    <input type="text" name="Adress">
    <input type="submit" value="Gửi dữ liệu">

</form>
<h1>@ViewBag.Message</h1>